# Required

tfe_license                = "YOUR_TFE_LICENSE_HERE"
route53_zone_name          = "example.com"
ec2_bastion_ssh_public_key = "ssh-ed25519 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Optional

# Terraform Enterprise
tfe_version = "v202507-1"
